# https://stackoverflow.com/a/8594971/5560682
/*
!/.gitignore

!/app/
/app/*
!/app/preprocessor/
!/app/preprocessor/*

!/public/
/public/*
!/public/dist/
!/public/dist/*
!/public/dist/production/
!/public/dist/production/*
/public/dist/production/*.map

!/react/
/react/*
!/react/production/
!/react/production/*
/react/production/*.map

